<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FotoBlog</title>
</head>
<body>
    <h1>FotoBlog</h1>
    {% block content %}
    {% endblock content %}
    
    {% if user.is_authenticated %}
        <p>
            Salut{{request.user }}!
            
        </p>
        <p>
            <a href="{% url 'home' %}">Accueil</a>
        </p>
        <p>
            
            <a href="{% url 'photo_upload' %}">Télechager une photo</a>
        </p>
        
        
        {% comment %} <p> 
            Voulez-vous 
            <a href="{% url '' %}">changer votre mot de passe ?</a>
        </p> {% endcomment %}
        <p> 
            {% comment %} Voulez-vous  {% endcomment %}
            <a href="{% url 'change_photo' %}">changer la photo de profile</a>
        </p>
        <p>
            <a href="{% url 'logout' %}">Se deconnecter</a>
        </p>
    {% endif %}
</body>
</html>